.label-barra{
    margin-right: .5em;
}

.input-barra{
    width: 280px;
}

.pesquisar {
    width: 100px;
    margin-top: 0;
}

.container-itens {
    padding-top: .5em;
    
}
.exibe-item {
    max-height: 400px;
    overflow-y: scroll;
}
.item-cadastrado {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-bg-claro);
    padding: 1em;
    margin-top: 1em;

}

.item-div {
    width: 50%;
}

.item-div h3,
.item-div p {
    font-size: .9em;
}

.div-botoes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.emprestar, .excluir {
    width: 100px;
    margin-top: 0;
}

.bt-link {
    color: var(--cor-branco);
}

.excluir {
    text-transform: uppercase;
}

.input-cadastrar {
    width: 490px;
}

.cadastrar-item {
    width: 500px;
    margin-top: 0;
}