.label-barra{
    margin-right: .5em;
}

.input-barra{
    width: 275px;
}

.pesquisar {
    width: 100px;
    margin-top: 0;
}

.container-itens {
    padding-top: .0;
    
}

.exibe-item {
    max-height: 400px;
    overflow-y: scroll;
}
.item-cadastrado {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-bg-claro);
    padding: 1em;
    margin-top: 1em;

}

.barra-pesquisa{
    padding-bottom: 1em;
}

.div-botoes {
    width: 150px;
    padding: 0;
    text-align: center;
}

.item-div h3,
.item-div p {
    font-size: .9em;
}

.div-botoes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.bt, .bt-emprestar, .bt-excluir {
    width: 100px;
    margin-top: 1em;
}

.bt-link {
    color: var(--cor-branco);
}

.excluir {
    text-transform: uppercase;
}

.input-cadastrar {
    width: 490px;
}

.cadastrar-item {
    width: 500px;
    margin-top: 0;
}

mark {
    display: block;
    width: 100px;
    background-color: var(--cor-destaque);
    border-radius: 4px;
}

.tx-data {
    font-size: .9em;
    
}

.retornou {
    font-family: var(--ff-titulo);
    color: var(--cor-gray);
}

.nome-item {
    color: var(--cor-primaria);
    font-weight: 600;

}