input {
    border: solid 1px var(--cor-borda-form);
    border-radius: 4px;
    margin-top: 1em;
    padding: 0.5em;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.container-form-login {
    width: 400px;
}

